<%= link_to 'Kembali', projects_path, class: 'btn btn-secondary mb-3' %>
<div class="card">
  <div class="card-body">
    <h2 class='card-tittle mb-4'>
      <span>Edit <%= resource_name.to_s.humanize %> </span>
    </h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password %> <i>(Biarkan Kosong Jika Tidak Ingin Merubah)</i><br />
          <%= f.password_field :password, autocomplete: "password baru", class: 'form-control' %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> Minimal Karakter</em>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :Konfirmasi_Password %><br />
          <%= f.password_field :password_confirmation, autocomplete: "password baru", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :Password_Saat_Ini %> <i>(kami membutuhkan kata sandi Anda saat ini untuk mengonfirmasi perubahan Anda)</i><br />
          <%= f.password_field :current_password, autocomplete: "password saat ini", class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "Update Akun", class: 'btn btn-primary' %>
        </div>
      <% end %>

      <hr>

      <h3>Hapus akun Saya</h3>

      <p>Hapus akun jika tidak diperlukan lagi <%= button_to "Hapus Akun Saya", registration_path(resource_name), data: { confirm: "Apakah anda yakin?" }, method: :delete, class: 'btn btn-danger' %></p>

    </div>
</div>


