<div class="card w-50 mx-auto">
  <div class="card-body w-75 mx-auto">
    <h2 class='card-tittle mb-4'>
      <span><center>Daftar Akun Baru</center></span>
    </h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: 'btn btn-primary w-100' %>
        </div>
      <% end %>

      <hr>

      <center><%= render "devise/shared/links" %></center>
      
      <!-- <h3 class="mb-3">Memiliki Akun?</h3>
      
       <%= button_to 'Sign In Account', new_user_session_path, class: 'btn btn-secondary' %> -->

    </div>
</div>
