<div class="card w-50 mx-auto">
  <div class="card-body w-75 mx-auto">
    <h2 class='card-tittle mb-4'>
      <span><center>Lupa Password Anda?</center></span>
    </h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "Send reset password instructions", class: 'btn btn-primary w-100' %>
        </div>
      <% end %>

      <hr>

      <center><%= render "devise/shared/links" %></center>

    </div>
</div>