<!DOCTYPE html>
<html>
  <head>
    <title>SimplePm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/libraries' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='bg-light'>
    <div class="container pt-5">
      <% if notice %>
      <div class="alert alert-info"><%= notice %>
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      </div>
      <% elsif alert %>
      <div class="alert alert-danger"><%= alert %>
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      </div>
      <% end %>
        <%= yield %>
    </div>
  </body>

</html>
